In [3]:
import numpy as np
import pandas as pd

# Sample data with nulls
data = {'Location': ['Delhi', 'Mumbai', None, 'Kolkata', 'Chennai'],
        'Arrest': ['Yes', 'No', 'Yes', None, 'No']}

df = pd.DataFrame(data)

# 1. Check for nulls
print(df.isnull().sum())

# 2. Fill nulls
df['Location'].fillna('Unknown', inplace=True)
df['Arrest'].fillna(df['Arrest'].mode()[0], inplace=True)  # Fill with most common
df

# 3. Drop rows with nulls (optional)
# df.dropna(inplace=True)

Location    1
Arrest      1
dtype: int64

C:\Users\sarim\AppData\Local\Temp\ipykernel_13412\2916119224.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Location'].fillna('Unknown', inplace=True)
C:\Users\sarim\AppData\Local\Temp\ipykernel_13412\2916119224.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Arrest'].fillna(df['Arrest'].mode()[0], inplace=True)  # Fill with most common

  Location Arrest
0    Delhi    Yes
1   Mumbai     No
2  Unknown    Yes
3  Kolkata     No
4  Chennai     No